<div class="container-fluid">
    <div class="row">
        <h2>Biography</h2>
        <p>
            <img src="" class="img-fluid">
            So, about me, I was born in July 1986 in the city of Renton Washington. I've only been playing Dungeons and Dragons 
            (a.k.a D&D) for a few years, but it is by far some of the best entertainment that one could ask for in my opinion. It is 
            a table-top role-playing game that usually involves something to record your character on, a specific set of dice and maybe
            a figurine to represent your character. All that is left is to have fellow adventurers and the Dungeon Master, DM, who 
            narrates the adventure.</br>
            The game is great because you can be anyone you want to be with all sorts of personality quirks and motivations. The game has 
            all sorts of source material from which to conjure your avatar for the campaign. Below are my favorite characters
            and adventures that I have played.
        </p>
        <hr/>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <h4>Chuck Choy</h4>
            <p>
                <img src="images/cockroach.jpg" class="img-fluid wrap">
                One of the first character's I played was, Chuck Choy, He was an awakened dire cockroach with the class of Rogue. 
                His awakening appeared to be flawed so he was discarded in a refuse heap. Later he was saved by a man named Choy. 
                Unfortunately Choy was in debt, so he sent chuck on missions to collect gold. In this campaign, after our group found 
                eachother we were contracted to for a theivery job. Things happened and we eventually got ourselves into a purging war 
                against Drow before the campaign ended. My character was fun because he spoke in a stilted manner and didn't have 
                the same morals and values as a human would have. He ate almost everything so as a player I made a taste journal to 
                rate how good the things he ate were. 
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <h4>Daoin</h4>   
            <p>
                <img src="images/halfCelestial.jpg" class="img-fluid wrap">
                This was another campaign in the same world and Chuck, but it was above ground and took place on the good continent that
                was named Tyr. I played a Half Elf and Half Celestial Sorcerer character named Daoin. The main location for this campaign
                was a desert city, which was interesting because the city itself had a dome that blocked the sand and blunted the sun.
                It was challenging dealing with the elements of nature and fun traveling in sand ships that cruised across the sand.
                The ships added a prirate like feel to the setting.
            </p>
        </div>
        <div class="d-sm-none d-md-block col-md-4 col-lg-4 col-xl-4">
            <h4>Elladyr Ruin</h4>    
            <p>
                <img src="images/halfHalfling.jpg" class="img-fluid wrap">
                My most recent character has been a Half Halfing and Half Elf Rogue. In this world all the old gods had been either 
                killed or sealed away and there are only the five new gods. Many of the other powerful or disruptive beings in the 
                material plane had also been sealed away. The campaign started with us in a bar that catered to adventurers. We 
                picked up a contract to test the security at a cartell warehouse. Needless to say things went awry. From there we got 
                involved with the five gods and a deal they had made with another entity that is slowly bringing reality unito a stop. This 
                was an interesting start to a campaign because all of the players started as Rogues. Granted, later we all branch out to 
                to multiple classes, but it just going to show you that tossing out random ideas during your party's character creation
                can lead to odd campaigns.
            </p>
        </div>
    </div>
</div>