<div class="container-fluid">
        <div class="row">
            <h2>Contact</h2>
            <p>
                Contact me at johndoe at yahoo dot com </br>
                or/<br>
                1-800-mix-alot
                </br>
                </br>
                Below are some links to tabel to game resources that I prefer to use.
            </p>
            
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <p>
                    <img src="images/roll20.png" class="img-fluid">
                    <a href="https://roll20.net/"><h4>Roll 20</h4></a>
                    Roll20 is a website that offers a variety of tools that can help a user when playing not
                    only D&D, but many other table top games. It also offers a market place for table top games
                    related products and a community section for those who want to talk about table top games.
                </p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <p>
                    <img src="images/theEye.png" class="img-fluid">
                    <a href="https://the-eye.eu/public/Site-Dumps/adambibby.ca/download/dnd/"><h4>The Eye</h4></a>
                    Though probably a grey area as far as legality, this sight has many pdfs available for those
                    who want their source books on a electronic medium. It also has source books for many other games
                    for those who are interested.
                </p>
            </div>
            <div class="d-sm-none d-md-block col-md-4 col-lg-4 col-xl-4">
                <p>
                    <img src="images/DDBeyond.jpg" class="img-fluid">
                    <a href="https://www.dndbeyond.com/"><h4>D&D Beyond</h4></a>
                    D&D Beyond has a blend of the other two sites in that it offers creation tools, but it also has
                    search features and also books sources for game mechanics and campainges. Unlike the other two,
                    this site is dedicated specifically to Dungeons and Dragons 5th edition.
                </p>
            </div>
        </div>
    </div>