<div class="container-fluid">
    <div class="row stripe2">
      <!--Site Description-->
      <h2>Design</h2>
      <p>
      These are the pages for my site and my rationale for designing them as I have. I tried to keep them within the technical
      specification originally outlined unless I couldn't imagine a reasonable way to fit the contents to the design. It makes 
      me wonder what the balance should be between design and content.   
      </p>
    </div>
    
    <div class="row stripe1">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div id="subCol1" class="col-md-4 col-lg-4 col-xl-4">
          <h4>Homepage</h4>
        </div>
        <div id="subCol2" class="col-md-8 col-lg-8 col-xl-8">
          <img src="images/homepageFrame.jpeg" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p>
          My idea for the homepage is inspired by the homepage of Roll20, not the code mind you, just the general layout. I 
          counldn't follow the design too closely due to technical specification restrictions and my lack of content. Other
          than using the Roll20 hompage for some direction, I think I used the typical structure when making a homepage.
          I started with a title, followed by some image(s) with some text on or under to explain the purpose of the site
           and finished with links to content. Finally I'm not very creative, so I take many of my design ideas from website I 
           see.
        </p>
      </div>
    </div>

    <div class="row stripe2">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p>
          This is the only page I deviated from the technical specification because I didn't wanted to use columns in my design.
          I thought that rows would be more visually pleasing. I also chose to use a slide show because I like how it highlights 
          a singular image, but there can be multiple images for that location. The downsides are that you can't see all the images
          at once and that users can't directly choose the image they want to see.
        </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div id="subCol2" class="col-md-4 col-lg-4 col-xl-4">
            <img src="images/galleryFrame.jpeg" class="img-fluid">
        </div>
        <div id="subCol1" class="col-md-2 col-lg-2 col-xl-2">
          <h4>Gallery</h4>
        </div>
      </div>
    </div>

    <div class="row stripe1">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div id="subCol1" class="col-md-2 col-lg-2 col-xl-2">
          <h4>Design</h4>
        </div>
        <div id="subCol2" class="col-md-4 col-lg-4 col-xl-4">
          <img src="images/designFrame.jpeg" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p>
          For the design page I decided to do alternating rows to mimic one of the assignsments that we did this quarter. I chose 
          a light red and light gold as colors because those are the colors I most associate with D&D. 
         </p>
      </div>
    </div>

    <div class="row stripe2">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
  
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div id="subCol2" class="col-md-4 col-lg-4 col-xl-4">
          <img src="images/bioFrame.jpeg" class="img-fluid">
        </div>
        <div id="subCol1" class="col-md-2 col-lg-2 col-xl-2">
          <h4>Biography</h4>
        </div>
      </div>
    </div>

    <div class="row stripe1">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div id="subCol1" class="col-md-2 col-lg-2 col-xl-2">
          <h4>Contact</h4>
        </div>
        <div id="subCol2" class="col-md-4 col-lg-4 col-xl-4">
          <img src="images/contactFrame.jpeg" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
  
      </div>
    </div>




</div>