<div class="container-fluid">
  <div class="row">
    <!--Site Description-->
    <div class="col-12">
      <h2>Critical Failure</h2>
    </div>
    <div class="col-5">
      <p class="homepage">
      <img src="images/beholder.jpg" class="img-fluid wrap">
        I'm creating this website as part of a project for the Renton Technical College. It is a Dungeon and Dragon themed website that
        includes an image gallery, my design rationale, a page for my biography and a contact page.
      </p>
    </div>
    <div class="col-7"></div>
  </div>
  <hr/>
  <div class="row">
    <div id="column1" class="col-12 col-sm-4 col-md-3">
      <div>
        <h4>Gallery</h4>
        <a href="/gallery"><img src="images/gallery.jpg" class="img-fluid"></a>
        <p>Image carousels on a variety of D&D relevant categories.</p>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h4>Design</h4>
          <a href="/design"><img src="images/design.png" class="img-fluid"></a>
          <p>This is the design rationale for the choice made while making this site.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h4>Contact</h4>
          <a href="/bio"><img src="images/bio.png" class="img-fluid"></a>
          <p>My contact information and links to D&D sources that I like.</p>
        </div>
      </div>
    </div>
    <div class="col-12 d-sm-none d-md-block col-md-3">
      <div>
        <h4>Biography</h4>
        <a href="/contact"><img src="images/contact.png" class="img-fluid"></a>
        <p>A little about me and some stories about my favorite campaigns and characters.</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jT3FRzEJDp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>